.productPage {
	color: white;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;

	&__price {
		font-size: 1.5rem;
	}

	&__content {
		width: 90%;
		margin: 0 auto;
	}

	&__img {
		display: flex;
		justify-content: center;

		&__view {
			min-width: 60%;
			max-width: 90%;
		}
	}

	&__sizesSelection {
		margin-bottom: 2rem;
		&__form {
			display: flex;
		}

		&__btn {
			display: none;
		}

		&__label__item {
			background-color: white;
			color: black;
			padding: 0.75rem;
			margin-right: 0.5rem;
			cursor: pointer;
			transition: 0.2s cubic-bezier(0.3, 0.02, 0.71, 1.11);

			&__active {
				background-color: rgb(223, 190, 71);
			}
		}
		&__label__item:hover {
			opacity: 85%;
		}
	}

	&__clickers {
		display: flex;
		margin-bottom: 2rem;
		&__cartBtn {
			padding: 1rem 2rem;
			background-color: #c16a6a;
			color: white;
			border: black 2px solid;
			margin-right: 2rem;
			cursor: pointer;

			&__disabled {
				cursor: not-allowed;
			}
		}
		&__cartBtn:hover {
			opacity: 80%;
		}
		&__heart {
			cursor: pointer;
			width: 2.5rem;
		}
	}
}

@media (min-width: 880px) {
	.productPage {
		margin: auto auto;
		width: 50%;
		// height: auto;
		max-width: 1500px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		gap: 1rem;

		&__header {
			margin: 0;
		}

		&__img {
			width: 50%;
			max-width: 400px;

			&__view {
				width: 100%;
			}
			// max-width: 400px;
			// min-width: 236px;
		}

		&__content {
			width: 50%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			// padding: 1rem;
			margin-left: auto;
		}

		&__clickers {
			margin: 0;
		}
	}
}

.push {
	width: 100%;
}

.test {
	position: fixed;
	background-color: white;
	border: solid black 3px;
	top: 50%;
	left: 50%;
}
