.login {
	width: 80%;
	max-width: 600px;
	margin: 2rem auto;
	background-color: #360a14;
	color: white;
	display: flex;
	flex-direction: column;
	font-family: 'share';

	&__header {
		align-self: center;
		margin-bottom: 0;
	}

	&__form {
		background-color: rgb(172, 121, 111);
		max-width: 300px;
		width: 80%;
		margin: 2rem auto;
		padding: 2rem;

		form {
			display: flex;
			flex-direction: column;

			label {
				margin-bottom: 0.3rem;
			}

			input {
				margin-bottom: 1.5rem;
				border: black 0.25rem solid;
				background-color: #c4c4c4;
				opacity: 90%;
			}

			input:focus {
				outline: none;
				opacity: 100%;
			}
		}

		&__btn {
			width: 40%;
			margin: 0.75rem auto;
			border: black 0.4rem solid;
			background-color: #c4c4c4;
			color: black;
			opacity: 90%;
			padding: 0.2rem;
			cursor: pointer;
			text-align: center;
		}

		&__btn:hover {
			opacity: 100%;
		}

		&__switch {
			text-decoration: none;
			color: white;
			text-align: center;
			margin-top: 1rem;
		}
		&__switch:hover {
			opacity: 80%;
		}
	}
	&__error {
		text-align: center;
		color: rgb(217, 15, 15);
		background-color: #29060e;
		border: black 2px solid;
		padding: 1rem 0;
	}
}
