.profile {
	width: 80%;
	max-width: 1200px;
	margin: 2rem auto;
	color: white;
	font-family: 'Share';

	&__header {
		background-color: #360a14;
		color: white;
		padding: 1.5rem;

		&__text {
			text-align: center;
		}
	}

	&__main {
		background-color: rgb(120, 72, 64);
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 1.8rem;

		&__input {
			width: 80%;
			border: black 2px solid;
			background-color: #c4c4c4;
			opacity: 90%;
			outline: none;
			margin-bottom: 0.5rem;
		}

		&__password {
			&__text {
				text-decoration: underline;
			}
		}

		&__details {
			background-color: #360a14;
		}

		&__btn {
			width: 40%;
			max-width: 120px;
			border: black 0.4rem solid;
			background-color: #c4c4c4;
			color: black;
			opacity: 90%;
			margin-top: 0.2rem;
			padding: 0.2rem;
			cursor: pointer;
			text-align: center;
		}

		

		&__change__error {
			margin: 0%;
			margin-bottom: 0.3rem;
			text-align: center;
			color: rgb(217, 15, 15);
			background-color: #29060e;
			border: black 2px solid;
			padding: 1rem 1rem;
		}

		&__change__good {
			margin: 0%;
			margin-bottom: 0.3rem;
			text-align: center;
			color: rgb(87, 195, 121);
			background-color: #29060e;
			border: black 2px solid;
			padding: 1rem 1rem;
		}

		&__favorites {
			&__img {
				width: 50%;
			}
		}
	}
	&__orders {
		&__order {
			&__link {
				text-decoration: underline;
				cursor: pointer;
			}
		}
	}

	&__card__header {
		margin: 0;
		margin-bottom: 0.5rem;
		text-decoration: underline;
	}

	&__underline {
		text-decoration: underline;
	}
}

.card {
	background-color: #360a14;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2rem 1rem;
	text-align: center;
	margin-bottom: 2rem;
}

@media (min-width: 800px) {
	.profile {
		&__main {
			flex-wrap: wrap;
			flex-direction: row;
			align-items: baseline;
			justify-content: center;
			width: 100%;

			&__favorites {
				display: flex;
				overflow: scroll;
				overflow-x: hidden;
				overflow-y: auto;

				&__img {
					cursor: pointer;
					max-width: 200px;
				}
			}
		}
	}
}

.card {
	flex: 0 0 45%; /* explanation below */
	margin: 10px;
	height: 330px;
}

::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px #360a14;
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #25030b;
	border-radius: 10px;
}
