.container {
	width: 90%;
	max-width: 1500px;
	margin: 0 auto;
	position: relative;
}

.header {
	background: #37121a;
	padding: 1em 0;
	text-align: center;
}

.nav {
	width: 100%;
	position: relative;

	&__cart {
		width: 33px;
		cursor: pointer;

		&__number {
			background-color: white;
			margin-top: 6px;
			align-self: flex-start;
			border-radius: 100%;
			padding: 0.5px 6px;
		}
	}
}

.nav__list {
	list-style: none;
	padding: 0;
}

.nav__item {
	padding: 0.3em 0;
}

.nav__search {
	padding: 0.4em 0;
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;

	&__box {
		position: absolute;
		background-color: wheat;
		width: 48%;
		margin: 1.7rem auto;

		display: flex;
		flex-direction: column;
		padding: 0;

		&__result {
			width: 100%;
			list-style: none;
			cursor: pointer;
			color: black;

		}
		&__result:hover {
			opacity: 70%;
		}
	}
}

.nav__input {
	width: 50%;
	border-radius: 9px;
	padding: 0.3em 0.8em;
	border: white solid 1px;
	background-color: #360a14;
	color: white;
}

.nav__link {
	text-decoration: none;
	color: white;
	cursor: pointer;
}

.nav__link:hover {
	opacity: 50%;
}

.nav_toggle {
	cursor: pointer;
	border: 0;
	width: 3em;
	height: 3em;
	padding: 0em;
	border-radius: 50%;

	background: #072a2d;
	color: white;
	transition: opacity 250ms ease;

	position: absolute;
	left: 0;
}

.nav_toggle:focus,
.nav_toggle:hover {
	opacity: 0.75;
}

.hamburger {
	width: 50%;
	position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
	display: block;
	margin: 0 auto;
	height: 3px;
	background: white;
}

.hamburger::before,
.hamburger::after {
	content: '';
	width: 100%;
}

.hamburger::before {
	transform: translateY(-6px);
}

.hamburger::after {
	transform: translateY(3px);
}

/* made changes here from video
to make it more accessible.

Works the same :) */
.nav {
	visibility: hidden;
	height: 0;
	position: absolute;
}

.nav__visible {
	visibility: visible;
	height: auto;
	position: relative;
}

.logo {
	height: 40px;
}

@media (min-width: 880px) {
	.nav_toggle {
		display: none;
	}

	.nav {
		visibility: visible;
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: auto;
		margin-left: 2rem;
		position: relative;

		&__cart {
			&__nubmer {
				background-color: white;
				align-self: center;
				border-radius: 100%;
				padding: 2px 10px;
			}
		}
	}

	.nav__list__primary {
		width: 50%;
	}

	.nav__list__secondary {
		//   width: 40%;
	}

	.nav__search {
		padding: 0.4em 0;
		width: 100%;
		// background-color: #360a14;
		// border: white solid 2px;
	}

	.nav__input {
		width: 100%;
		padding: 0.3em 0.8em;
		border: white solid 1px;
		background-color: #360a14;
		color: white;
	}

	.nav__list {
		display: flex;
		margin: 0;
	}

	.nav__item {
		margin: 0;
		margin-left: 0.5em;
	}

	.nav__item + .nav__item {
		margin-left: 1em;
	}

	.logo {
		align-self: center;
	}
	.row {
		display: flex;
		justify-content: space-between;
	}
}
